<div class="grid-x grid-padding-x align-center">
  <div class="cell small-12">
      <h1 class="align-center">Add a Received Gift</h1>
  </div>
</div>
<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-4 cell">
        <label>Gift
          <input type="text" placeholder=".medium-4.cell">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Date Received
          <input type="text" placeholder=".medium-4.cell">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Occasion
          <input type="text" placeholder=".medium-4.cell">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Sender Name
          <input type="text" placeholder=".medium-4.cell">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Sender Address
          <input type="text" placeholder=".medium-4.cell">
        </label>
      </div>
      <div class="medium-4 cell">
            <legend>Thank You Card Sent?</legend>
    <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Red</label>
    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>

      </div>
    </div>
  </div>
</form>