{{!-- Page Title --}}
<div class="grid-x grid-padding-x align-center">
    <h2 class="text-center">Add a Received Gift</h2>
</div>

{{!-- Add Gift Form --}}
<form id="addReceivedForm">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell">
                <label>Gift
                    <input id="giftReceived" type="text" placeholder="Gift">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Date Received
                    <input id="dateReceived" type="date" placeholder="Date Received">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Occasion
                    <input id="occasionReceived" type="text" placeholder="Occasion">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Sender's Name
                    <input id="senderName" type="text" placeholder="Sender Name">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Sender's Address
                    <input id="senderAddress" type="text" placeholder="Sender Address">
                </label>
            </div>
            <div class="medium-4 cell">
                <legend>Thank You Sent?</legend>
                <input type="radio" name="thankYou" value=true id="sent" required><label for="Sent">Sent</label>
                <input type="radio" name="thankYou" value=false id="notSent"><label for="Not Sent">Not Sent</label>
            </div>
            <div class="medium-4 cell">
                <button id="submitAddReceived" class="submit button expanded btnBlue">Add
                    Gift</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $(document).foundation();
        userId = 1;
        $("#submitAddReceived").on("click", function (event) {
            event.preventDefault();
            const newGift = {
                user_id: userId,
                senderName: $("#senderName").val(),
                senderAddress: $("#senderAddress").val(),
                giftReceived: $("#giftReceived").val(),
                occasion: $("#occasionReceived").val(),
                dateReceived: $("#dateReceived").val(),
                thankYou: $('input[name="thankYou"]:checked').val(),
            };
            $.post("/api/add/received", newGift).then(()=>{
                window.location.href = "/received";
            });
        });
    });
</script>