<div class="grid-x grid-padding-x align-center">
    <div class="cell small-12">
        <h1 class="text-center">Add a Received Gift</h1>
    </div>
</div>
<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-4 cell">
                <label>Gift
                    <input type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Date Received
                    <input type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Occasion
                    <input type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Sender Name
                    <input type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Sender Address
                    <input type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <legend>Thank You Card Sent?</legend>
                <input type="radio" name="thankYou" value="true" id="Sent" required><label for="Sent">Sent</label>
                <input type="radio" name="thankYou" value="false" id="Not Sent"><label for="Not Sent">Not Sent</label>
            </div>
        </div>
    </div>
</form>