<h1>Add a Received Gift</h1>
<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-4 cell">
        <label>Gift
          <input type="text" placeholder=".medium-4.cell">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Date Received
          <input type="text" placeholder=".medium-4.cell">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Occasion
          <input type="text" placeholder=".medium-4.cell">
        </label>
      </div>
    </div>
  </div>
</form>