<div class="grid-x grid-padding-x align-center">
    <div class="cell small-12">
        <h3 class="text-center">Add a Received Gift!</h3>
    </div>
</div>
<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell">
                <label>Gift
                    <input id="giftReceived" type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Date Received
                    <input id="dateReceived" type="date" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Occasion
                    <input id="occasionReceived" type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Sender Name
                    <input id="senderName" type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Sender Address
                    <input id="senderAddress" type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <legend>Thank You Sent?</legend>
                <input type="radio" name="thankYou" value="true" id="sent" required><label for="Sent">Sent</label>
                <input type="radio" name="thankYou" value="false" id="notSent"><label for="Not Sent">Not Sent</label>
            </div>
            <div class="medium-4 cell">
                <button id="submitAddReceived" class="submit button">Add Gift</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function(){
        userId = 1;
    $("#submitAddReceived").on("click", function(event){
        event.preventDefault();
        let newGift = {
            user_id: userId,
            senderName: $("#senderName").val(),
            senderAddress: $("#senderAddress").val(),
            giftReceived: $("#giftReceived").val(),
            occasion: $("#occasionReceived").val(),
            dateReceived: $("#dateReceived").val(),
            thankYou: $('input[name="thankYou"]:checked').val(),
        };
        console.log(newGift)
    });
});
</script>