<header class="grid-container">
    {{!-- Website Name --}}
    <div class="grid-x grid-padding-x align-center">
        <h1>Gifted</h1>
    </div>
    {{!-- Page Title --}}
    <div class="grid-x grid-padding-x align-center">
        <h2 class="text-center">Add a Sent Gift</h2>
    </div>
</header>
{{!-- Add modal --}}
<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{!-- Add Gift Form --}}
<form id="addSentForm">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell">
                <label>Gift
                    <input id="giftSent" type="text" placeholder="Gift">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Date Sent
                    <input id="dateSent" type="date" placeholder="Date Sent">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Occasion
                    <input id="occasionSent" type="text" placeholder="Occasion">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Receiver's Name
                    <input id="receiverName" type="text" placeholder="Receiver Name">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Receiver's Address
                    <input id="receiverAddress" type="text" placeholder="Receiver Address">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Cost
                    <input id="cost" type="text" placeholder="Cost">
                </label>
            </div>
            <div class="medium-4 cell">
                <button id="submitAddSent" data-open="exampleModal1" class="submit button expanded">Add Gift</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        //code to make foundation jQuery work
        $(document).foundation();
        userId = 1;
        //Click event to add new gift
        $("#submitAddSent").on("click", function (event) {
            event.preventDefault();
            const newGift = {
                user_id: userId,
                receiverName: $("#receiverName").val(),
                receiverAddress: $("#receiverAddress").val(),
                giftSent: $("#giftSent").val(),
                occasion: $("#occasionSent").val(),
                dateSent: $("#dateSent").val(),
                cost: $("#cost").val(),
            };
            // post new object and clear out form
            $.post("/api/add/sent", newGift).then($("#addSentForm").each(function () {
                this.reset();
            }))
        });
    });
</script>