{{!-- Page Title --}}
<div class="grid-x grid-padding-x align-center">
    <h2 class="text-center">Add a Sent Gift</h2>
</div>


{{!-- Add Gift Form --}}
<form id="addSentForm">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell">
                <label>Gift
                    <input id="giftSent" type="text" placeholder="Gift">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Date Sent
                    <input id="dateSent" type="date" placeholder="Date Sent">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Occasion
                    <input id="occasionSent" type="text" placeholder="Occasion">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Receiver's Name
                    <input id="receiverName" type="text" placeholder="Receiver Name">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Receiver's Address
                    <input id="receiverAddress" type="text" placeholder="Receiver Address">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Cost
                    <input id="cost" type="text" placeholder="Cost">
                </label>
            </div>
            <div class="medium-4 cell">
                <button data-open="addModalSent" class="addGift submit button expanded btnBlue">Add
                    Gift</button>
            </div>
        </div>
    </div>
</form>
