<div class="top-bar" id="example-menu">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Giftanizer</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="has-submenu">
                <a href="/sent">View Sent Gifts</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="/received">View Received Gifts</a></li>
                    <li><a href="/add/received">Add Received Gift</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="grid-x grid-padding-x align-center">
    <div class="cell small-12">
        <h3 class="text-center">Add a Sent Gift</h3>
    </div>
</div>
<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell">
                <label>Gift
                    <input id="giftSent" type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Date Sent
                    <input id="dateSent" type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Occasion
                    <input id="occasionSent" type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Cost
                    <input id="cost" type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Receiver Name
                    <input id="receiverName" type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Receiver Address
                    <input id="receiverAddress" type="text" placeholder=".medium-4.cell">
                </label>
            </div>
            <div class="medium-4 cell">
                <button id="submitAddSent" class="submit button">Add Gift</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        userId = 1;
        $("#submitAddSent").on("click", function (event) {
            event.preventDefault();
            let newGift = {
                user_id: userId,
                receiverName: $("#senderName").val(),
                receiverAddress: $("#senderAddress").val(),
                giftSent: $("#giftReceived").val(),
                occasion: $("#occasionReceived").val(),
                dateSent: $("#dateReceived").val(),
            };
            $.post("/api/add/sent", newGift).then($("#addReceivedForm").each(function () {
                this.reset();
            }))
        });
    });
</script>