{{!-- Log In Form --}}
<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-6 cell text-center">
                <label>
                    <h2>Add Email to Login</h2>
                    <input id="userEmail" type="email" placeholder="email@email.com" aria-describedby="email">
                    <button id="loginBtn" data-open="modalLogin" class="submit button btnBlue">Login</button>
                    <a href="/signup" class="button btnGreen">Create an Account</a>
                    {{!-- Use disabled class with aria-disabled to ensure the user enters email --}}
                </label>
            </div>
        </div>
    </div>
</form>

{{!-- logged in modal --}}
<div class="reveal text-center" id="modalLogin" data-reveal>
  <h1>Logged in!</h1>
  <p class="lead">Click one of the gifts below to begin.</p>
  <button id="sendModalClose" class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{{!-- Gifts Buttons --}}
<div class="grid-container">
    <div class="grid-x grid-padding-x text-center">
        <div class="small-6 cell imgBoxContainer">
            <img class="giftsReceivedImg"
                data-interchange="[/images/gift.png, small], [/images/gift.png, medium], [/images/gift.png, large]">
            <div class="imgBox giftsReceivedImg">
                <div class="imgText">Received Gifts</div>
            </div>
        </div>
        <hr>
        <div class="small-6 cell imgBoxContainer">
            <img class="giftsSentImg"
                data-interchange="[/images/hand.webp, small], [/images/hand.webp, medium], [/images/hand.webp, large]">
            <div class="imgBox giftsSentImg">
                <div class="imgText">Sent Gifts</div>
            </div>
        </div>
    </div>
</div>
{{!-- Use disabled class with aria-disabled to ensure the user enters email --}}