<h1 class="text-center">Gifted</h1>

<hr>

<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell text-center">
                <label>Email
                    <input id="userEmail" type="email" placeholder="email@email.com" aria-describedby="email">
                    <button id="loginBtn" class="submit button small">Login</button>
                    <a href="/signup" class="button small success">Sign Up</a>
                    {{!-- Use disabled class with aria-disabled to ensure the user enters email --}}
                </label>
            </div>
        </div>
    </div>
</form>

<hr>
<div class="grid-container">
    <div class="grid-x grid-padding-x align-center">
 <a href="/received" class="button">Gifts You Received</a>
<a href="/sent" class="button">Gifts You Sent</a>
    </div>
</div>
{{!-- Use disabled class with aria-disabled to ensure the user enters email --}}

<script>
    $(document).ready(function () {

        // Login Button Event Listener
        $("#loginBtn").on("click", function (event) {
            event.preventDefault();

            // Retrieves the User's entered Email
            const userEmail = $("#userEmail").val().trim();

            // AJAX Call - Checks to see if the user's account is valid
            $.get("/api/user/" + userEmail).then(function (response) {
                console.log(response);
                boolean = true;
            }).catch(function (error) {
                console.log(error);
            });
        });
    });
</script>