<h1 class="text-center">The Giftanizer</h1>

<hr>

<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell text-center">
                <label>Email
                    <input id="email" type="email" placeholder="email@email.com" aria-describedby="email">
                    <button id="login" class="submit button small">Login</button>
                    <a id="signUp" href="" class="button small success">Sign Up</a>
                    {{!-- Use disabled class with aria-disabled to ensure the user enters email --}}
                </label>
            </div>
        </div>
    </div>
</form>

<hr>

<a href="" class="button">Gifts You Received</a>
<a href="" class="button">Gifts You Sent</a>
{{!-- Use disabled class with aria-disabled to ensure the user enters email --}}