<h1></h1>

<hr>

<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-4 cell">
        <label>Email
          <input type="email" placeholder="email@email.com" aria-describedby="email">
          <input type="submit" class="button small" value="Login">
          <input type="submit" class="button small success" value="Sign Up">
          {{!-- Use disabled class with aria-disabled to ensure the user enters email --}}
        </label>
      </div>
    </div>
  </div>
</form>

<hr>

<a href="" class="button">Gifts You Received</a>
<a href="" class="button">Gifts You Sent</a>
{{!-- Use disabled class with aria-disabled to ensure the user enters email --}}