{{!-- Website Name --}}
<header class="grid-x grid-padding-x align-center">
    <h1>Gifted</h1>
</header>

<hr>

{{!-- Log In Form --}}
<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-6 cell text-center">
                <label>
                    <h3>Email</h3>
                    <input id="userEmail" type="email" placeholder="email@email.com" aria-describedby="email">
                    <button id="loginBtn" class="submit button btnBlue">Login</button>
                    <a href="/signup" class="button btnGreen">Sign Up</a>
                    {{!-- Use disabled class with aria-disabled to ensure the user enters email --}}
                </label>
            </div>
        </div>
    </div>
</form>

{{!-- Gifts Buttons --}}
<div class="grid-container">
    <div class="grid-x grid-padding-x text-center">
        <div class="small-6 cell imgBoxContainer">
            <img class="giftsReceivedImg"
                data-interchange="[/images/gift.png, small], [/images/gift.png, medium], [/images/gift.png, large]">
            <div class="imgBox giftsReceivedImg">
                <div class="imgText">Received Gifts</div>
            </div>
        </div>
        <hr>
        <div class="small-6 cell imgBoxContainer">
            <img class="giftsSentImg"
                data-interchange="[/images/hand.webp, small], [/images/hand.webp, medium], [/images/hand.webp, large]">
            <div class="imgBox giftsSentImg">
                <div class="imgText">Sent Gifts</div>
            </div>
        </div>
    </div>
</div>
{{!-- Use disabled class with aria-disabled to ensure the user enters email --}}

<script>
    $(document).ready(function () {

        // Received Gifts Button
        $(".giftsReceivedImg").on("click", function (event) {
            window.location.href = "/received";
        });

        // Sent Gifts Button
        $(".giftsSentImg").on("click", function (event) {
            window.location.href = "/sent";
        });

        // Login Button Event Listener
        $("#loginBtn").on("click", function (event) {
            event.preventDefault();

            // Retrieves the User's entered Email
            const userEmail = $("#userEmail").val().trim();

            // AJAX Call - Checks to see if the user's account is valid
            $.get("/api/user/" + userEmail).then(function (response) {
                console.log(response);
                boolean = true;
            }).catch(function (error) {
                console.log(error);
            });
        });
    });
</script>