<h1 class="text-center">Gifted</h1>

<hr>

<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell text-center">
                <label>Email
                    <input id="userEmail" type="email" placeholder="email@email.com" aria-describedby="email">
                    <button id="loginBtn" class="submit button small">Login</button>
                    <a id="signUpBtn" href="" class="button small success">Sign Up</a>
                    {{!-- Use disabled class with aria-disabled to ensure the user enters email --}}
                </label>
            </div>
        </div>
    </div>
</form>

<hr>

<img
    data-interchange="[assets/img/interchange/small.jpg, small], [assets/img/interchange/medium.jpg, medium], [assets/img/interchange/large.jpg, large]">
<a id="giftsYouReceivedBtn" class="button">Gifts You Received</a>
<a id="giftsYouSentBtn" class="button">Gifts You Sent</a>
{{!-- Use disabled class with aria-disabled to ensure the user enters email --}}

<script>
    $(document).ready(function () {

        $("#loginBtn").on("click", function (event) {
            event.preventDefault();

            const userEmail = $("#userEmail").val().trim();

            $.get("/api/user/" + userEmail).then(function (response) {
                console.log(response);
            }).catch(function (error) {
                console.log(error);
            });
        });

        $("#signUpBtn").on("click", function (event) {
            event.preventDefault();
            window.location.href = "/signup";
        })

        $("#giftsYouReceivedBtn").on("click", function (event) {
            event.preventDefault();
            window.location.href = "/received";
        });

        $("#giftsYouSentBtn").on("click", function (event) {
            event.preventDefault();
            window.location.href = "/sent";
        });

    });
</script>