<h1 class="text-center">Gifted</h1>

<button id="logoutBtn" type="button" class="button">Logout</button>
<button id="giftsYouSentBtn" type="button" class="button">Gifts You Sent</button>

<hr>

<h2 class="text-center">Gifts You Received</h2>

<button id="addNewGiftBtn" type="button" class="button">Add a New Gift</button>

<table>
  <thead>
    <tr>
      <th width="150">Gift You Received</th>
      <th width="150">Date Received</th>
      <th width="150">Occasion</th>
      <th width="150">Sender's Name</th>
      <th width="150">Sender's Address</th>
      <th width="150">Thank You</th>
      <th width="150">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>

<script>
  $(document).ready(function() {

    

  });
</script>