
<style>
  $brandColor: darkorchid;

body {
  font-family: system-ui;
  background: linear-gradient(to bottom,
    $brandColor,
    darken($brandColor, 15%)
  );
  color: white;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}$button-rounded-hover-radius: 5000px;
$button-rounded-hover-border: 5px solid darken($primary-color, 10%);

.button-rounded-hover {
  border: 0;
  border-radius: $button-rounded-hover-radius;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: $white;
  transition: all 0.3s;
  transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: $button-rounded-hover-border;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: darken($primary-color, 10%);
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  transform: translateX(0%);
  opacity: 0.25;
}



</style>


<h1>Recieved gifts</h1>
<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <label>Recieved gifts
          <input type="text" placeholder="medium-6 cell">
        </label>
      </div>
      <div class="medium-6 cell">
      </div>
    </div>
  </div>
</form>
<!-- use a tag for links to other locations -->
<a class="button button-rounded-hover">Add Recieved Gifts </a>

<!-- use button tag for on page actions -->
<button class="button button-rounded-hover">Add New Gifts</button>


<script>

    $(document).foundation(function(){
    
  
    $("#addgiftsBtn").on("click", function(event){
        event.preventDefault();
        console.log("addgiftsBtn");
    });

});
</script>