

<h1>Received Gifts</h1>

<hr>

<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-4 cell">
        <label>Received Gifts
          <input type="Gift Received" placeholder="type of gift" aria-describedby="typeOfgift">
        </label>
      </div>
    </div>
  </div>
</form>

<hr>

<a href="" class="button">add Gifts Received</a>