<div class="grid-x grid-padding-x align-center">
    <div class="cell small-12">
        <h2 class="text-center font-lucinda san pro">Received Gift!</h2>
    </div>
</div>


<hr>

<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x aligh-center">
      <div class="medium-4 cell">
        <label>Received Gifts
          <input type="Gift Received" placeholder="type of gift" aria-describedby="typeOfgift">
        </label>
      </div>
    </div>
  </div>
</form>

<hr>

<a href="" class="button">add Gifts Received</a>

<script>
    $(document).ready(function(){
    
  
    $("#addgiftsBtn").on("click", function(event){
        event.preventDefault();
        console.log("addgiftsBtn");
    });

});
</script>