<div class ="grid-y center grid frame">
    <div class ="cell shrink header">
        <h1>Sent gifts</h1>
</div>
<div class ="cell auto body cell-block-container">
    <div class ="cell medium-6"> <button id="submit" class="submit button">Add Gifts Sent</button>

    </div>
</div>
<div>

</div>
                <button id="submit" class="submit button">Add Gifts Sent</button>

<script>

    $("#giftsYouSentBtn").on("click", function(event){
        event.preventDefault();
        console.log("giftsYouSentBtn");

</script>