
<h1>Sent Gifts</h1>

<hr>

<form>
  <div class="grid-x grid-padding-x">
    <div class="small-3 cell">
      <label for="right-label" class="text-right">Label</label>
    </div>
    <div class="small-9 cell">
      <input type="text" id="right-label" placeholder="Right-aligned text input">
    </div>
  </div>
</form>
<hr>

<a href="" class="button">add Gifts Sent</a>

<script>

    $("#giftsYouSentBtn").on("click", function(event){
        event.preventDefault();
        console.log("giftsYouSentBtn");

</script>