<h1 class="text-center">Gifted</h1>

<button id="logoutBtn" type="button" class="button">Logout</button>
<button id="giftsYouSentBtn" type="button" class="button">Gifts You Received</button>

<hr>

<h2 class="text-center">Gifts You Sent</h2>

<button id="addNewGiftBtn" type="button" class="button">Add a New Gift</button>