
<h1>Sent Gifts</h1>

<hr>

<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <label>Sent Gifts
          <input type="Gift Sent" placeholder="type of gift" aria-describedby="type">
        </label>
      </div>
    </div>
  </div>
</form>

<hr>

<a href="" class="button">add Gifts Sent</a>
