<h1 class="text-center">The Giftanizer</h1>

<hr>

<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell text-center">
                <label>First and Last Name
                    <input id="userName" type="text" placeholder="First Name Last Name" aria-describedby="name">
                </label>
            </div>
            <div class="medium-4 cell text-center">
                <label>Email
                    <input id="userEmail" type="email" placeholder="email@email.com" aria-describedby="email">
                </label>
            </div>
        </div>
    </div>
</form>