{{!-- Sign Up Form --}}
<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell text-center">
                <label>First and Last Name
                    <input id="userName" type="text" placeholder="First Name Last Name" aria-describedby="name">
                </label>
            </div>
            <div class="medium-4 cell text-center">
                <label>Email
                    <input id="userEmail" type="email" placeholder="email@email.com" aria-describedby="email">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell text-center">
                <button id="createAccountBtn" type="button" class="button expanded btnBlue">Create Account</button>
            </div>
        </div>
        {{!-- Invalid Account Callout --}}
        <div id="invalidAccountCallout" class="callout btnRed text-center displayNone" data-closable>
            <h4>Invalid Name or Email</h4>
            <p>Please enter a valid name and/or email.</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</form>