<h1 class="text-center">The Giftanizer</h1>

<hr>

<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell text-center">
                <label>Email
                    <input id="email" type="email" placeholder="email@email.com" aria-describedby="email">
                    <button id="loginBtn" class="submit button small">Submit</button>
                    {{!-- Use disabled class with aria-disabled to ensure the user enters email --}}
                </label>
            </div>
        </div>
    </div>
</form>