{{!-- Sign Up Form --}}
<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell text-center">
                <label>First and Last Name
                    <input id="userName" type="text" placeholder="First Name Last Name" aria-describedby="name">
                </label>
            </div>
            <div class="medium-4 cell text-center">
                <label>Email
                    <input id="userEmail" type="email" placeholder="email@email.com" aria-describedby="email">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x align-center">
            <div class="medium-4 cell text-center">
                <button id="createAccountBtn" type="button" class="button expanded">Create Account</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {

        // Create Account Button Event Listener
        $("#createAccountBtn").on("click", function (event) {
            event.preventDefault();

            // Retrieves the User's entered Name and Email
            const newUser = {
                name: $("#userName").val().trim(),
                email: $("#userEmail").val().trim()
            }

            // AJAX Call - Creates a new User Account
            $.post("/api/add/user", newUser).then(function (response) {
                console.log(response);

                window.location.href = "/";
            }).catch(function (error) {
                console.log(error);
            });
        });
    });
</script>