nav {
  margin-bottom: 2rem;
}

body {
  font-family: "Lora", serif;
  /* font-family: 'Amatic SC', cursive; */
}

/* Adds the Background Image after the body */
body::after {
  content: "";
  background-image: url(../images/background.jpg);
  background-position: center;
  background-color: rgb(245, 243, 247);
  opacity: 0.4; /* 0 = Full Invisible & 1 = Fully Visibile */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1,
h2 {
  font-family: "Lora", serif;
}
img {
  max-width: 25%;
  border: 3px solid black;
  border-radius: 50%;
  padding: 5px;
}

footer {
  margin-bottom: 0 !important;
}
