nav {
  padding: 0 !important;
}

.top-bar, .top-bar a, .top-bar ul {
  background-color: black;
  color: white;
}

body {
  font-family: "Lora", serif;
}

/* Adds the Background Image after the body */
body::after {
  content: "";
  background-image: url(../images/background.jpg);
  background-position: center;
  background-color: rgb(245, 243, 247);
  opacity: 0.3; /* 0 = Full Invisible & 1 = Fully Visibile */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* Styles the Website Name */
h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 110px;
  text-shadow: 4px 4px #c6e6e4;
}

h2 {
  font-family: "Lora", serif;
}

/* Styles all Buttons */
.button {
  border-radius: 7px !important;
}
.btnBlue {
  background-color: #c6e6e4;
  color: black;
  border: 3px solid black;
}
.btnGreen {
  background-color: #e7ebe0;
  color: black;
  border: 3px solid black;
}
.btnRed {
  background-color: #fadee0;
  color: black;
  border: 3px solid black;
}
.btnYellow{
  background-color: #fae3c5;
  color: black;
  border: 3px solid black;
}

/* Login Page Image Styling */
img {
  max-width: 50%;
  border: 3px solid black;
  border-radius: 50%;
  padding: 5px;
  transition: .6s ease;
}

img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.imgBox {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.imgBoxContainer {
  position: relative;
}

.imgBoxContainer:hover .imgBox {
  opacity: 1;
  cursor: pointer;
}

.imgText {
  background-color: #fae3c5;
  color: black;
  font-size: 20px;
  padding: 10px 16px;
  border-radius: 7px !important;
}

.displayNone {
  display: none !important;
}

footer {
  margin-bottom: 0 !important;
}
