nav {
  margin-bottom: 2rem;
}

body {
  font-family: "Lora", serif;
}

/* Adds the Background Image after the body */
body::after {
  content: "";
  background-image: url(../images/background.jpg);
  background-position: center;
  background-color: rgb(245, 243, 247);
  opacity: 0.4; /* 0 = Full Invisible & 1 = Fully Visibile */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
}

h2 {
  font-family: "Lora", serif;
}
img {
  max-width: 25%;
  border: 3px solid black;
  border-radius: 50%;
  padding: 5px;
}

/* .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
} */

footer {
  margin-bottom: 0 !important;
}
.button {
  border-radius: 7px !important;
}
/* .imagebtn:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */
.center {
  position: relative;
  font-size: 18px;
  bottom: 80px;
}
